{% extends 'base.html.twig' %}

{% block title %} Modification mot de passe{% endblock %}

{% block body %}

    <main class="container">
        <h1 class="my-5">Modifier votre mot de passe</h1>

        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit" class="btn btn-secondary">Modifier</button>
        {{ form_end(form) }}
    </main>

{% endblock %}
